= form_tag 'classrooms', class: 'form', id: 'classroom-form' do

  = label_tag 'name', 'Name', class: ''
  = text_field_tag 'name', '', class: '', value: '<%=@name%>'.html_safe

  = submit_tag 'Submit', id: 'classroom-button', class: 'form-button'
  <br/>
  = label_tag 'error-msg', '', id: 'error-msg'
